{% extends 'base.html' %}

{% block header %}
	<h3>Login</h3>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
	  <div class="col">
      <form class="row g-3" method="POST">
          <div class="mb-3 row">
              <label for="login_email" class="form-label">Email</label>
              <input type="text" required class="form-control" name="email" id="login_email" value="email@example.com">
          </div>
          <div class="mb-3 row">
              <label for="login_password" class="form-label">Password</label>
              <input type="password" class="form-control" id="login_password" name="password" placeholder="Password">
          </div>
          <div class="mb-3 row">
              <button type="submit" class="btn btn-primary mb-3">Login</button>
          </div>
      </form>
      <p class="{{ text }}">{{ error }}</p>
	  </div>

    <div class="col">
      <p>Don't have an account? Register today and get access to these features:
        <ul>
          <li>Add recipes</li>
          <li>Save your favorites</li>
          <li>Rate other's recipes</li>
          <li>...</li>
        </ul>
      </p>
      <p><a class="btn btn-primary" href="{{ url_for('auth.register') }}">Register</a></p>
      <p><a class="btn btn-primary" href="{{ url_for('auth.forgot_password') }}">Forgot Password</a></p>
    </div>
  </div>
</div>
{% endblock %}
