{% extends 'base.html' %}

{% block header %}
	<h3>Login</h3>
{% endblock %}

{% block content %}
	<div class="col-md-5">
	<p>This is the register page.</p>
		<p>
			<form method="POST">
			  <div class="form-group">
				  <label>Email: </label>
					<input class="form-control" type="text" name="email" required>
				</div>
			  <div class="form-group">
				  <label>Username: </label>
					<input class="form-control" type="text" name="username" required>
				</div>
			  <div class="form-group">
				  <label>Password: </label>
					<input class="form-control" type="password" name="password" required>
				</div>

				<button class="btn bth-primary" type="submit" name="register">Register</button>
			</form>
		</p>
		<p>{{ error }}</p>
	</div>
{% endblock %}
